<% include ../partials/header %>
<section class="jumbotron text-center mini-header">
  <h1 class="display-3"><%=fabric.name%></h1>
  <a class="btn" href="/fabrics">Back to Fabrics</a>
</section>
<section>
  <div class="container">
    <img class="show" src="<%=fabric.image%>"/>
    <p class="my-3">
      <%=fabric.description%>
    </p>
    <p><em>
      By <%=fabric.author.username%>
    </em></p>
    <% if(currentUser && fabric.author.id.equals(currentUser._id)) { %>
    <div class="btn-div">
      <div class="btn-wrapper">
        <a href="/fabrics/<%=fabric._id%>" class="btn btn-primary btn-show">Make Project</a>
      </div>
      <div class="btn-wrapper">
        <a href="/fabrics/<%=fabric._id%>/edit" class="btn btn-primary btn-show">Edit</a>
      </div>
      <div class="btn-wrapper">
        <form action="/fabrics/<%=fabric._id%>?_method=DELETE" method="POST">
          <button class="btn btn-primary btn-show">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</section>
<% include ../partials/footer %>
